#Remove the .sample from dev.env.sample and delete this line :>)

##Mongodb PORT
PORT=3000

##Mongodb Local URL
MONGODB_URL=mongodb://127.0.0.1:27017/shopcart

##Token_Secret
TOKEN_SECRET=add_a_secret

##SENDGRID_API
SENDGRID_API=your.senddgrid.api.key

##FRONT_END_URL
FRONT_END_URL=http://localhost:8080